<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RamseyDsilva.com</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ramsey D'silva's Personal Site">
    <meta name="author" content="Ramsey D'silva">

    <!-- Le styles -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <style>
      body {
        background-image: url("https://lh3.googleusercontent.com/-QNeX968Zw2I/UyF7_WWTcvI/AAAAAAAACEg/8fWiIvwwDBU/w1374-h1030-no/137.jpg");
        background-position: center 0;
        background-size: 100%;
      }
      .navbar-brand { color: white !important; }
      ul.links { background: rgba(255,255,255, 0.7); padding: 15px; list-style: none; }
    </style>

  </head>

  <body>

    <nav class="navbar navbar-static-top navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-class="lead" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://ramseydsilva.com">Ramsey D'silva</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="http://blog.ramseydsilva.com">Blog</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <div class="row"><div class="col-lg-7 col-md-7 col-sm-7">
        <p class="lead">
            I'm a Web developer turned Aerospace engineer turned Entrepreneur turned 
            Globe trotter turned Music lover turned Artist turned Foodie.<br/>
            And this is my site. Welcome!<br/><br/>
            Here are some quick links to my other online properties:
            <ul class="links">
                <li><a class="lead" target="_blank" href="http://cityfury.com">CityFury</a></li>
                <li><a class="lead" target="_blank" href="http://coderfly.com">CoderFly</a></li>
                <li><a class="lead" target="_blank" href="http://gymbuddy.io">GymBuddy.io</a></li>
                <li><a class="lead" target="_blank" href="http://life.ramseydsilva.com">Conway's game of life</a></li>
                <li><a class="lead" target="_blank" href="http://gameoflife.ramseydsilva.com">Conway's game of life expressified</a></li>
                <li><a class="lead" target="_blank" href="http://menugrapher.com">Menugrapher</a></li>
                <li><a class="lead" target="_blank" href="http://weatherducky.com">Weather Ducky</a></li>
                <li><a class="lead" target="_blank" href="http://siteme.in">SiteMe.in</a></li>
                <li><a class="lead" target="_blank" href="http://votrasi.com">Votrasi</a></li>
                <li><a class="lead" target="_blank" href="http://blog.ramseydsilva.com">Personal blog</a></li>
                <li><a class="lead" target="_blank" href="http://blog.coderfly.com/">Tech blog</a></li>
                <li><a class="lead" target="_blank" href="http://facebook.com/ramseydsilva">Facebook</a></li>
                <li><a class="lead" target="_blank" href="https://plus.google.com/117685034324731192581">Google Plus</a></li>
                <li><a class="lead" target="_blank" href="http://twitter.com/ramseydsilva">Twitter</a></li>
                <li><a class="lead" target="_blank" href="http://github.com/ramseydsilva">Github</a></li>
                <li><a class="lead" target="_blank" href="http://ca.linkedin.com/pub/ramsey-dsilva/60/b81/690">LinkedIn</a></li>
                <li><a class="lead" target="_blank" href="{{ STATIC_URL }}files/Resume.pdf">Resume</a></li>
            </ul>
        </p>
        </div></div>
    </div> <!-- /container -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38947225-3', 'ramseydsilva.com');
      ga('send', 'pageview');

    </script>

  </body>
</html>
